  {% if site.paginate %}
    {% assign work_experience = paginator.work_experience %}
  {% else %}
    {% assign work_experience = site.data.work_experience %}
  {% endif %}

    <h2 class="post-list-heading">Work Experience</h2>
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for experience in work_experience -%}
      <li>
        <h3 style="margin-bottom: 0px">
          {{ experience.name }}
        </h3>
        <h4 style="display: inline">{{experience.title}} </h4>
        <span class="post-meta">{{ experience.duration }}</span>
      </li>
      {%- endfor -%}
    </ul>