<footer>
  <div class="icon-row">
    <div class="icon">
      <a href="mailto:sachitlumba@gmail.com">
        <span class="fa fa-envelope-o"></span>
      </a>
    </div>
    <div class="icon">
      <a href="https://github.com/sparrownor1">
        <span class="fa fa-github"></span>
      </a>
    </div>
    <div class="icon">
      <a href="https://linkedin.com/in/sachitlumba">
        <span class="fa fa-linkedin"></span>
      </a>
    </div>
    <div class="icon">
      <a href="https://soundcloud.com/suspendedanimationmusic">
        <span class="fa fa-soundcloud"></span>
      </a>
    </div>
    <div class="icon">
      <a href="https://sparrownor1.wordpress.com/">
        <span class="fa fa-wordpress"></span>
      </a>
    </div>
  </div>
</footer>
