$bgcolor: #F5F0E1;
$fontcolor: #333333;
$accentcolor1: #8B4513;
$accentcolor2: #DEB887;

body {
    font-family: 'Merriweather';
    line-height: 1.5;
    color: $fontcolor;
    background-color: $bgcolor;
    margin: 0 auto;
}

h1 {
    font-weight: medium; // between normal and medium
    font-size: 1.2em;
    margin-bottom: 0;
}

header {
    margin: 0.9375em 0;
}

p { 
    margin: 0 auto;
}

ul {
    list-style-type: square;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $accentcolor1;
}

nav a {
    margin-right: 0.5em;
}

.links {
    margin: 0.9375em auto;
}

code,
pre {
    font-family: Menlo, Consolas, "Consolas for Powerline", "Courier New", Courier, monospace;
    background-color: #2b2b2b;
    color: #fff;
    padding: 0.25em
}
